<div class="container">
  <div *ngIf="photoAdded">
    <div class="ui info message">
      {{message}}
    </div>
  </div>
  <br>
  <form class="ui form" (ngSubmit)="onSubmit()" [formGroup]="addPhotoForm" novalidate>
    <h2 class="ui dividing header">Add your photo</h2>
    <div class="field">
      <label>* Photo Name / Photo Title</label>
      <div class="two fields">
        <div class="field">
          <input formControlName="photoName" placeholder="Photo name" />
        </div>

        <div class="field">
          <input placeholder="Photo title" formControlName="title"/>
        </div>
      </div>
    </div>
    <div class="field">
      <label>Description</label>
      <div class="field">
        <input placeholder="description" formControlName="description"/>
      </div>
    </div>
    <div class="field">
      <label>* Upload Photo</label>
      <div class="two fields">
        <div class="field">
          <input type="file" (change) = "uploadPhotoService.fileChangeEvent($event)" />
          <button type="button" class="ui primary button" (click) = "uploadPhotoService.upload()">Upload</button>
        </div>

      </div>
    </div>
    <hr>
    <button type="submit" class="ui primary button" [disabled]="addPhotoForm.invalid">Submit</button>
  </form>
</div>
