<div class="container">
  <div class="ui three column grid">
    <div class="column">
    </div>
    <div class="column">
      <div class="ui segment">
        <div *ngIf="registered">
          <div class="ui info message">
            {{message}}
          </div>
        </div>
        <div *ngIf="error">
          <div class="ui warning message">
            {{message}}
          </div>
        </div>
        <br>
        <form class="ui form" (ngSubmit)="onSubmit()" [formGroup]="registerForm" novalidate>
          <div class="field">
            <div class="field">
              <label>* Username</label>
              <input name="username" (ngModelChange)="validateUserName()" (blur)="validateUserName()"
                     placeholder="username" formControlName="username"/>
              <div class="error" *ngIf="!isUserNameValid">
                Username should be 6 or more characters
              </div>
            </div>
            <div class="field">
              <label>Full name</label>
              <input name="fullName" placeholder="full name" formControlName="fullName" required/>
            </div>
            <div class="field">
              <label>* Email</label>
              <input type="email" (ngModelChange)="validateEmail()" (blur)="validateEmail()"
                     name="email" placeholder="email" formControlName="email"/>
              <div class="error" *ngIf="!isEmailValid">
                Incorrect email format
              </div>
            </div>
            <div class="field">
              <label>* Password</label>
              <input type="password" name="password" (ngModelChange)="validatePassword()"
                     (blur)="validatePassword()" placeholder="password" formControlName="password"/>
              <div class="error" *ngIf="!isPasswordValid">
                Password should be 8 or more characters
              </div>
            </div>
          </div>
          <button class="ui primary button" [disabled]="registerForm.invalid">Submit</button>
        </form>
      </div>
    </div>
    <div class="column">
    </div>
  </div>
</div>
