<div class="ui default raised menu">
  <div class="ui secondary pointing menu">
    <a class="item" routerLink="/home">
      <img src="resources/static/pic/senepe_logo.png" height="10%" width="100%" alt="logo">
    </a>
    <a class="item" routerLink="/home">
      <h2 id="badge">Senepe</h2>
    </a>
    <a [navBarHover]="color" class="item" routerLink="/home">
      Home
    </a>
    <a [navBarHover]="color" class="item" routerLink="/album">
      Album
    </a>
  </div>
  <div class="right menu">
    <a [navBarHover]="color" class="item" routerLinkActive="active" *ngIf="!loginService.isAuthenticated()" (change)="loginStatus(true)" routerLink="register">
      Sign up
    </a>
    <a [navBarHover]="color" routerLinkActive="active" class="item" *ngIf="!loginService.isAuthenticated()" routerLink="login">
      Login
    </a>
    <a [navBarHover]="color" routerLinkActive="active" *ngIf="loginService.isAuthenticated()" class="item" routerLink="login" (click)="logout()">
      Logout
    </a>
  </div>
</div>
