<div class="ui default raised menu">
    <div class="ui secondary pointing menu">
        <a class="item" [routerLink]="['Home']">
            <img src="resources/static/pic/senepe_logo.png" height="10%" width="100%" alt="logo">
        </a>
        <a class="item" [routerLink]="['Home']">
            <h2>Senepe</h2>
        </a>
        <a class="item" [routerLink]="['Home']">
            Home
        </a>
        <a class="item" *ngIf="loginService.isAuthenticated()" [routerLink]="['Album']">
            Album
        </a>
    </div>
    <div class="right menu">
        <p class="item" *ngIf="loginService.isAuthenticated()"><b>Welcome:</b>&nbsp; {{loginService.getLoggedInUser()}}</p>
        <a *ngIf="!loginService.isAuthenticated()" class="item" [routerLink]="['Register']">
            Sign up
        </a>
        <a class="item" [routerLink]="['Login']" (click)="logoutClick()">
            {{loginService.isAuthenticated()? 'Logout' : 'Login'}}
        </a>
    </div>
</div>