.nav-bar {
  /*border: 1px solid red;*/
}

.container {
  margin: auto;
  margin-top: 40px;
  padding-bottom: 10px;
  width: 80%;
  /*border: 1px solid red;*/
}

.box {
  border: 1px solid red;
}

.image-background {
  background-color: #212124;
  width:auto;
  height: 500px;
}

.ng-valid[required]{
    border-left: 5px solid #42A948; /** green */
}

.ng-valid{
    border-left: 5px solid #a94442; /** red */
}