<div class="container">
  <div class="photo-list">
    <a class="ui button primary" [routerLink]="['AddPhoto']">Add Photo</a>
    <br>
    <hr>
    <div class="ui grid">
      <div class="ui horizontal segments">
        <span *ngFor="let photo of photos">
          <div class="ui segment">
            <img src="http://localhost:8011/images/{{photo.imageName}}" class="ui medium image" (click)="onSelect(photo)" style="cursor: pointer">
            <div class="ui grid">
              <div class="ten wide column left aligned">
                <strong>{{photo.title}}</strong><br>
              </div>
               <div class="two wide column left aligned">
                <span (click)="deletePhoto(photo)" style="cursor: pointer; color: red;"><i class="trash outline icon"></i>Delete</span>
              </div>
              <div class="four wide column right aligned" style="color: blue;">
                {{photo.likes}} likes
              </div>
            </div>
          </div>
        </span>
      </div>
    </div>
  </div>
</div>