<div class="container">
  <div class="ui three column grid">
    <div class="column">
    </div>
    <div class="column">
      <div class="ui segment" [hidden]="loginService.isAuthenticated()">
        <div *ngIf="loginFailed">
          <div class="ui error message">
            <b>Server Error </b>: {{message}}
          </div>
        </div>
        <br>
        <form class="ui form" (ngSubmit)="onSubmit()" [hidden]="loginService.isAuthenticated()">
          <div class="field">
            <div class="field">
              <label>* Username</label>
              <input type="text" name="username" placeholder="username" [(ngModel)]="model.username" required/>
            </div>
            <div class="field">
              <label>* Password</label>
              <input type="password" name="password" placeholder="password" [(ngModel)]="model.password" required/>
            </div>
          </div>
          <button type="submit" class="ui primary button">Submit</button>
        </form>
      </div>
      <div [hidden]="!loginService.isAuthenticated()">
        <p>Logged in successfully</p>
        <h1>Welcome back {{currentUserName}}</h1>
      </div>
    </div>
    <div class="column">
    </div>
  </div>
</div>
