<div class="container">
  <div class="ui three column grid">
    <div class="column">
    </div>
    <div class="column">
      <div class="ui segment" [hidden]="loginService.isAuthenticated()" novalidate>
        <div *ngIf="loginFailed">
          <div class="ui error message">
            {{message}}
          </div>
        </div>
        <br>
        <form class="ui form" (ngSubmit)="onSubmit()" [formGroup] = "loginForm" [hidden]="loginService.isAuthenticated()">
          <div class="field">
            <div class="field">
              <label>* Username</label>
              <input formControlName="username"/>
            </div>
            <div class="field">
              <label>* Password</label>
              <input formControlName="password"/>
            </div>
          </div>
          <button type="submit" class="ui primary button" [disabled]="loginForm.invalid">Submit</button>
        </form>
      </div>
      <div [hidden]="!loginService.isAuthenticated()">
        <p>Logged in successfully</p>
        <h1>Welcome back {{currentUserName}}</h1>
      </div>
    </div>
    <div class="column">
    </div>
  </div>
</div>
